 /* .clicked {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: none;
  } 

  */
  
  .travel {
    opacity: 0;
    pointer-events: none;
  
    width: 400; 
    height: 400px; 
    z-index: 2;
    transition: opacity 1s ease-in-out;
    display: none;
   
  }

  .travelimg img{
    border-radius: 10px;
    margin-bottom: 100px;
  }

